fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
email-validator
google-auth
requests
passlib[bcrypt]
python-jose[cryptography]
python-multipart
joblib
numpy
pillow
scikit-learn
tensorflow==2.15.0
torch
transformers
opencv-python-headless
librosa
